{{#block "header" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogging With Spark</title>
    <link href="https://fonts.gooleapis.com/css?family=Noto+Serif:400,400italic,700|Noto+Sans:700,400"
          rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="index.html">SparkBlog</a>
                <a class="new-entry button button-round" href="new.html">
                    <i class="material-icons">create</i>
                </a>
            </div>
        </div>
    </header>
{{/block}}

    {{#block "content" }}

    {{/block}}

{{#block "footer" }}
    </body>
    </html>
{{/block}}
