{{#block "header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{#block "title"}}Blogging With Spark{{/block}}</title>
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Roboto:300,400,500,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="/">SparkBlog</a>
                <a class="new-entry button button-round" href="/new">
                    <i class="material-icons">create</i>
                </a>
            </div>
        </div>
    </header>
{{/block}}

{{#block "content"}}

{{/block}}

{{#block "footer"}}
    <footer>
        <div>
            <a href="#">Contact Us</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
            <a href="#">Terms</a>
        </div>
    </footer>
</body>
</html>
{{/block}}
