{{#partial "title"}}Add New Post{{/partial}}

{{#partial "content"}}
    <section>
        <div class="container">
            <div class="new-entry">
                <h2>Publish New Entry</h2>
                <form action="new" method="post">
                    <label for="title"> Title</label>
                    <input id="title" name="title" type="text"><br>
                    <label for="entry">Entry</label>
                    <textarea rows="5" id="entry" name="entry"></textarea>
                    <input type="submit" value="Publish Entry" class="button">
                    <a href="/" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{{/partial}}

{{> base.hbs}}